.container {
    margin: 30px;
  }

  .field {
    width: 100%;
    padding: 10px;
  }
  
  .field-100 {
    width: 100%;
  }

.content-form {
    border-right: 1px solid #f1f1f1
  }

.btn-cadastro {
    padding: 10px;
    color: #0003af;
    font-weight: bold;
}

.header-form {
    padding-bottom: 40px;
    border-bottom: #cfcece 1px solid;
}
  
.header-form h2 {
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header-dados-pessoais {
   background-color: #777676;
   padding: 1px;
}

.header-dados-pessoais h3 {
   padding-left: 20px;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}
